@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@use "@material";
* {
  margin: 0;
  padding: 0;
}
body {
  /* display: flex;
  flex-direction: column; */
  height: 100vh;
  align-items: center;
  text-align: center;
}
#canvasImage {
  display: none;
}

.innerContainer {
  position: relative;
  margin-top: 2rem;
  
  
}
#webcam {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
#canvas {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.wait {
  position: absolute;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 0.8rem;
  width: 35%;
  height: 40%;
  top: 50%;
  left: 50%;;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
}
