* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#canvasImage {
  display: none;
}
/* #canvas {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
} */
.innerContainer {
  position: relative;
}
#webcam {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.wait {
  
  position: absolute;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 0.8rem;
  width: 35%;
  height: 40%;
  top: 50%;
  left: 50%;;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
}
